<div id="carouselProgramasDesktop">
  <ul id="sistema16">
    <!-- reference -->
    <li>
      <a href="https://eaud.cgu.gov.br/">
        <p>reference</p>
        <div class="card-default">e-aud</div>
      </a>
    </li>
    <!--  put your cards like the exemple below  -->
    <li>
      <a>
        <app-card1></app-card1>
      </a>
    </li>
    <!--  now, keep going!  -->
    <li>
      <a>
        <app-card2></app-card2>
      </a>
    </li>
    <li>
      <a>
        <app-card3></app-card3>
      </a>
    </li>
    <li>
      <a>
        <app-card4></app-card4>
      </a>
    </li>
    <li>
      <a>
        <app-card5></app-card5>
      </a>
    </li>
    <li>
      <a>
        <app-card6></app-card6>
      </a>
    </li>
    <li>
      <a>
        <app-card7></app-card7>
      </a>
    </li>
    <li>
      <a>
        <app-card8></app-card8>
      </a>
    </li>
    <li>
      <a>
        <app-card9></app-card9>
      </a>
    </li>
    <li>
      <a>
        <app-card10></app-card10>
      </a>
    </li>
    <li>
      <a>
        <app-card11></app-card11>
      </a>
    </li>
    <li>
      <a>
        <app-card12></app-card12>
      </a>
    </li>
    <li>
      <a>
        <app-card13></app-card13>
      </a>
    </li>
    <li>
      <a>
        <app-card14></app-card14>
      </a>
    </li>
    <li>
      <a>
        <app-card15></app-card15>
      </a>
    </li>
    <li>
      <a>
        <app-card16></app-card16>
      </a>
    </li>
    <li>
      <a>
        <app-card17></app-card17>
      </a>
    </li>
    <li>
      <a>
        <app-card18></app-card18>
      </a>
    </li>
    <li>
      <a>
        <app-card19></app-card19>
      </a>
    </li>
    <li>
      <a>
        <app-card20></app-card20>
      </a>
    </li>
  </ul>
</div>


